.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #7EB2DD;
    height: 100px;
}
.nav-left img{
    height: 150px;
    margin-top: -15px;
}
.nav-right p {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}